@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');

.App {
  text-align: center;
  font-family: 'Nunito';
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    h1{
      font-weight: lighter;
    }
    Button{
      font-family: 'Nunito';
    }
  }
}

.axis {
  font-size: calc(24px);
  font-family: 'Nunito';
  line{
    fill: none;
    stroke: none;
  }
}

